<h3>Welcome to</h3>
<h1>Spotisearch</h1>

<div>
  <form novalidate [formGroup]="Artist" (ngSubmit)="SearchArtist()">
    <div class="form-group">
      <input type="text" class="form-control" id="NameArtist" placeholder="Type the name of your favorite artist" formControlName="NameArtist"
        minlength="1" />
    </div>
  </form>
  <artist [ArtistArray]="ArtistArray"></artist>
  <div *ngFor="let Tracks of AlbumTracks?.items">
    <div class="Audios">
      <audio controls="controls" type="audio/mpeg" src={{Tracks.preview_url}}>
        Your browser does not support the audio element.
      </audio>
      <span>{{Tracks.name}}</span>
    </div>
  </div>
</div>