<nav><img src="./SpotifyLogo.png" class="Images"> 
</nav>
<div *ngIf="!!ArtistArray.artists" class="container">
        <h1 class="letters" >Artists</h1>
        <h4 class="letters" >Your are currently searching:"{{this._ActivedRoute.snapshot.params.search}}"</h4>
        <search></search>
    <div class="col-md-offset-2">
        <div *ngFor="let Artist of ArtistArray.artists.items">
            <div class="col-md-5 Artists iframe">
                <h2 class="Texto letters">{{Artist.name}}</h2>
                <img class="img-rounded Imagenes center-block" [routerLink]="['/albums', Artist.name,Artist.id]" [src]="!!Artist.images[0]?.url ? Artist.images[0].url : './src/app/Artist/no-img.jpg'">
                <iframe [src]="getUrl(Artist.id)" width="200"
                    height="25" scrolling="no" frameborder="0" style=" padding-left:7%; padding-right:7%; border:none; overflow:hidden;" allowtransparency="true"></iframe>
                <router-outlet>
                </router-outlet>
            </div>
        </div>
    </div>
</div>