@font-face{
    font-family:Roboto;
    @import url('https://fonts.googleapis.com/css?family=Roboto');
}
.Imagenes{
    height: 160px;
    width: 160px;
}
.Artists{
    display:inline;
    border:1px;
    margin:auto;
    font-family:Roboto;
}
.Texto{
    text-align: center;
}
.letters{
    color:#1DB954;
 }

 .iframe{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }