@font-face{
    font-family:Roboto;
    @import url('https://fonts.googleapis.com/css?family=Roboto');
}
.Images{
    height: 80px;
    width: 80px;
}

.ArtistImage{
    height: 160px;
    width:160px;
}

.Artists{
    display:inline;
    border:1px;
    margin:auto;
    font-family:Roboto;
}

.letters{
    color:#1DB954;
}
